// 1. 是否关闭页面滚动条
@include root-scroll(true);

// 2. 默认关闭页面滚动条
// @include ruifont; // font配置

*,
::before,
::after {
  box-sizing: $box-sizing;
}

// 1. 防止用户自定义网页背景及文字颜色、大小影响
html {
  font-size: $font-size-root;
  color: $color;
  background-color: $doc-bgcolor;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
}