// color
$doc-bgcolor: #fafafa !default; // 默认文档背景色
$border-color: #ccc !default; // 默认边框色
$sub-border-color: #ddd !default; // 默认次级边框色
$bgcolor: #fafafa !default; // 默认背景颜色
$color: #212121 !default; // 默认文本颜色
$sub-color: #666 !default; // 默认次级文本颜色
$disabled-border-color:#ccc !default; // 默认边框色
$disabled-bgcolor: #e0e0e0 !default; // 默认文档颜色
$disabled-color: #bbb !default; // 默认禁用文本颜色
$light-color: #fe0053 !default; // 高亮色
$price-color: #f60 !default; // 价格颜色
$link-color: #508cf0 !default; // 默认链接色
$link-hover-color: #6298f2 !default; // 链接经过色
